<script>
    test()
    //testing the scope of variables
    if (typeof a != 'undefined') document.write('a = "' + a + '"<br>')
    if (typeof b != 'undefined') document.write('b = "' + b + '"<br>')
    if (typeof c != 'undefined') document.write('c = "' + c + '"<br>')

    function test()
    {
            a = 123               //Global scope
        var b = 456               // Local scope
        if (a == 123) var c = 789 // Local scope
    }
</script>