<script>
    n = '838102050'
    document.write('n = ' + n + ', and is a ' + typeof n + '<br>')

    n = 12345 * 67890;
    document.write('n = ' + n + ', and is a ' + typeof n + '<br>')

    n += ' plus some text'
    document.write('n  = ' + n + ', and is a ' + typeof n + '<br>')

    //convert string into a number
    n = "123"
    n *= 1

    //convert number into a string
    n = 123
    n += ""
</script>